<h1>SSR Exclude</h1>
<div class="shields">
  <a
    href="https://github.com/SachinShekhar/ngx-ssr-exclude/actions?query=workflow%3ABuild"
  >
    <img
      src="https://github.com/SachinShekhar/ngx-ssr-exclude/workflows/Build/badge.svg"
      alt="Build"
    />
  </a>
  <a href="https://github.com/SachinShekhar/ngx-ssr-exclude">
    <img
      alt="GitHub last commit"
      src="https://img.shields.io/github/last-commit/SachinShekhar/ngx-ssr-exclude?logo=github"
    />
  </a>
  <a href="https://www.npmjs.com/package/ngx-ssr-exclude">
    <img
      alt="npm (tag)"
      src="https://img.shields.io/npm/v/ngx-ssr-exclude/latest?logo=npm"
    />
  </a>
  <a href="https://www.npmjs.com/package/ngx-ssr-exclude">
    <img
      alt="npm bundle size"
      src="https://img.shields.io/bundlephobia/minzip/ngx-ssr-exclude?label=npm%20-%20minzipped&logo=npm"
    />
  </a>
  <a
    href="https://github.com/SachinShekhar/ngx-ssr-exclude/blob/master/LICENSE"
  >
    <img alt="NPM License" src="https://img.shields.io/npm/l/ngx-ssr-exclude" />
  </a>
</div>

<p>
  This line is rendered on the server. Everything below is rendered in the
  browser.
</p>

<ng-container *ssrExclude>
  <p>
    If you can't perceive the difference, disable the cache and throttle the
    speed to 2G or Slow 3G using your browser's dev tools.
  </p>
  <img src="./assets/chrome-throttle-speed.png" />
  <p>You can also try performance profiling.</p>
</ng-container>
