<h1>SSR Exclude</h1>
<div class="shields">
  <a
    href="https://github.com/SachinShekhar/ngx-ssr-exclude/actions?query=workflow%3ABuild"
  >
    <img
      src="https://github.com/SachinShekhar/ngx-ssr-exclude/workflows/Build/badge.svg"
      alt="Build"
    />
  </a>
  <a href="https://github.com/SachinShekhar/ngx-ssr-exclude">
    <img
      alt="GitHub last commit"
      src="https://img.shields.io/github/last-commit/SachinShekhar/ngx-ssr-exclude?logo=github"
    />
  </a>
  <a href="https://www.npmjs.com/package/ngx-ssr-exclude">
    <img
      alt="npm (tag)"
      src="https://img.shields.io/npm/v/ngx-ssr-exclude/latest?logo=npm"
    />
  </a>
  <a href="https://www.npmjs.com/package/ngx-ssr-exclude">
    <img
      alt="npm bundle size"
      src="https://img.shields.io/bundlephobia/minzip/ngx-ssr-exclude?label=npm%20-%20minzipped&logo=npm"
    />
  </a>
  <a
    href="https://github.com/SachinShekhar/ngx-ssr-exclude/blob/master/LICENSE"
  >
    <img alt="NPM License" src="https://img.shields.io/npm/l/ngx-ssr-exclude" />
  </a>
</div>

<mat-card *browserExclude>
  <mat-card-title>
    Rendered on Server
  </mat-card-title>
  <mat-card-subtitle>
    This component is rendered on the server..
  </mat-card-subtitle>
  <mat-card-content>
    This component will be displayed to the users even before Angular runtime is
    bootstrapped in the browser. This component uses *browserExclude directive.
  </mat-card-content>
</mat-card>

<mat-card *ssrExclude>
  <mat-card-title>
    Rendered in Browser
  </mat-card-title>
  <mat-card-subtitle>
    This component is rendered in the browser by Angular runtime..
  </mat-card-subtitle>
  <mat-card-content>
    This component will be displayed to the users after Angular runtime gets
    bootstrapped in the browser. The server doesn't process it. This component
    uses *ssrExclude directive.
  </mat-card-content>
</mat-card>

<p>
  <strong>The above card case study:</strong> First server rendered version of
  the card component is displayed. And, when Angular runtime gets bootstrapped
  in the browser, it is replaced with browser rendered version. If you can't
  perceive the difference (because this demo is very small against your fast
  internet), disable the cache and throttle the speed to 2G or Slow 3G using
  your browser's dev tools.
</p>
<img src="./assets/chrome-throttle-speed.png" />
<p>You can also try performance profiling.</p>
